@import "prism.css";
.wemark_wrapper {
  font-size: 28rpx;
  line-height: 1.8em;
  color: #545454;
}
.wemark_block_h1 {
  font-size: 40rpx;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  border-left: 8rpx solid #39c5bb;
  color: #333;
}
.wemark_block_h2 {
  font-size: 36rpx;
  margin-top: 1em;
  margin-bottom: 1em;
}
.wemark_block_h3 {
  font-size: 32rpx;
  margin-top: 1em;
  margin-bottom: 1em;
}
.wemark_block_h4,
.wemark_block_h5,
.wemark_block_h6 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}
.wemark_block_p {
  margin-bottom: 0.75em;
}
.wemark_block_video {
  margin-bottom: 0.75em;
  width: 100%;
}
.wemark_block_blockquote_p {
  margin-bottom: 0.75em;
  padding: 10rpx 20rpx;
  font-size: 28rpx;
  background: #f4f4f4;
  border-left: 8rpx solid #39c5bb;
}
.wemark_block_blockquote_ul_li_p {
  padding: 10rpx 20rpx;
  font-size: 28rpx;
  background: #f4f4f4;
  border-left: 8rpx solid #39c5bb;
  line-height: 1.5em;
}
.wemark_block_ul_li_p::before,
.wemark_block_blockquote_ul_li_p::before {
  content: '•';
  margin-right: 10rpx;
}
.wemark_block_ul_li_ul_li_p::before,
.wemark_block_ol_li_ul_li_p::before {
  content: '◦ ';
}
.wemark_block_ul_li_p,
.wemark_block_ol_li_p,
.wemark_block_ol_li_ul_li_p,
.wemark_block_ol_li_ol_li_p {
  padding-left: 1em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
.wemark_block_code {
  margin-bottom: 0.75em;
  padding: 10rpx;
  font-size: 24rpx;
  line-height: 1.5em;
  border: 1rpx solid #f0f0f0;
  white-space: pre;
  overflow: auto;
  background: #f4f4f4;
}
.wemark_block_table_tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-right: 1rpx solid #e0e0e0;
  border-bottom: 1rpx solid #e0e0e0;
}
.wemark_inline_table_th,
.wemark_inline_table_td {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5rpx;
  font-size: 24rpx;
  border-left: 1rpx solid #e0e0e0;
  word-break: break-all;
}
.wemark_inline_table_td:last-child {
  border-top: 1rpx solid #e0e0e0;
}
.wemark_inline_table_th {
  background: #f0f0f0;
  border-top: 1rpx solid #e0e0e0;
}
.wemark_inline_strong {
  font-weight: bold;
  padding: 0 5rpx;
  word-wrap: break-word;
}
.wemark_inline_em {
  font-style: italic;
  padding: 0 5rpx;
  word-wrap: break-word;
}
.wemark_inline_deleted {
  text-decoration: line-through;
  padding: 0 5rpx;
  word-wrap: break-word;
}
.wemark_inline_image {
  display: block;
  max-width: 100%;
  margin: 10rpx auto;
  height: auto;
}
.wemark_inline_text {
  word-wrap: break-word;
}




/*下面是新增的wemark111样式*/
@import "prism.css";

.wemark_wrapper{
  margin:10px 0;
  font-size:32rpx;
  line-height: 1.8em;
}
.wemark_block_h1{
  font-size:40rpx;
  text-align: center;
  margin-bottom:1em;
}
.wemark_block_h2{
  font-size:40rpx;
  padding-bottom:.5em;
  margin-top:1em;
  margin-bottom:1em;
  border-bottom:1px solid #f0f0f0;
}
.wemark_block_h3{
  font-size:36rpx;
  margin-top: 1em;
  margin-bottom: 1em;
}
.wemark_block_h4,
.wemark_block_h5,
.wemark_block_h6{
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}
.wemark_block_p{
  margin-top:1em;
  margin-bottom:1em;
}
.wemark_block_video{
  margin-top:1em;
  margin-bottom:1em;
  width:100%;
}
.wemark_block_blockquote_p{
  margin-top:1em;
  margin-bottom:1em;
  padding:10px 0 10px 1em;
  font-size:28rpx;
  background:#f0f0f0;
  border-left:5px solid #e0e0e0;
}
.wemark_block_ul_li_p::before{
  content:'• ';
}
.wemark_block_ul_li_ul_li_p::before,
.wemark_block_ol_li_ul_li_p::before{
  content:'◦ ';
}
.wemark_block_ul_li_ul_li_p,
.wemark_block_ul_li_ol_li_p,
.wemark_block_ol_li_ul_li_p,
.wemark_block_ol_li_ol_li_p{
  padding-left: 1em;
}
/* .wemark_block_ul_li_p:last{
	margin-bottom:1em;
} */
.wemark_block_code{
  display: block;
  padding:10px;
  margin: 10rpx 0;
  font-size:28rpx;
  line-height: 1.5em;
  border:1px solid #f0f0f0;
  white-space: pre;
  overflow: auto;
}
.wemark_block_code text{
  display: inline;
  white-space: normal;
}
.wemark_block_table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  /* border-left: 1px solid #e0e0e0; */
  /* border-top: 1px solid #e0e0e0; */
}
.wemark_block_table_tr{
  display: flex;
}
.wemark_wrapper_richtext .wemark_block_table_tr{
  display: table-row;
}
.wemark_inline_table_th,
.wemark_inline_table_td{
  flex:1;
  padding:5px;
  font-size:28rpx;
  word-break: break-all;
  border: 1px solid #e0e0e0;
}
.wemark_wrapper_richtext .wemark_inline_table_th,
.wemark_wrapper_richtext .wemark_inline_table_td{
  display: table-cell;
  /* background:red;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0; */
}
/* .wemark_inline_table_td:last{*/
/* border-top:1px solid #e0e0e0; */
/*} */
.wemark_inline_table_th{
  background:#f0f0f0;
  /* border-top:1px solid #e0e0e0; */
}
.wemark_inline_strong{
  font-weight: bold;
  padding:0 5px;
  word-wrap:break-word;
}
.wemark_inline_em{
  font-style: italic;
  padding:0 5px;
  word-wrap:break-word;
}
.wemark_inline_strong_em{
  font-style: italic;
  font-weight: bold;
  padding:0 5px;
  word-wrap:break-word;
}
.wemark_inline_deleted{
  text-decoration: line-through;
  padding:0 5px;
  word-wrap:break-word;
}
.wemark_inline_image{
  width:100%;
  height:auto;
}
.wemark_inline_code{
  background:#f0f0f0;
  padding:3px 5px;
  word-wrap:break-word;
}
.wemark_inline_text{
  word-wrap:break-word;
}
.wemark_inline_link{
  display: inline;
  color: blue;
  word-wrap:break-word;
}

